{{#each notes}}
    <div class="card card-body mb-2">
        <h6 style="color: brown;">{{date}}</h6>
        <h3>{{title}}</h4>
        <p>{{details}}</p>
        <a class="btn btn-dark btn-block mb-2" href="/notes/open/{{_id}}">Open</a>
    </div>
{{else}}
    <div class="jumbotron text" style="text-align: center">
        <p>Diary is empty!</p>
    </div>
{{/each}}